PROJECT_NAME=NEW_PROJECT
NAME=New Project
SECRET_KEY=django-insecure-...
DEBUG=True
BROWSER_RELOAD=True
USE_CACHE=True
CACHENAME=redis
CACHE_REDIS_LOCATION=redis://127.0.0.1:6379

CELERY_BROKER_URL=redis://localhost:6379/0

DATABASE=sqlite

OPENAI_API_KEY=sk-proj-...
GPT_MODEL=gpt-4o-mini
ALLOWED_HOSTS=localhost,vph.whiteneuron.com,vph.whiteneurons.com,172.20.0.1
CSRF_TRUSTED_ORIGINS=https://vph.whiteneuron.com,https://vph.whiteneurons.com,http://172.20.0.1

EMAIL_HOST_USER=abc@whiteneurons.com
EMAIL_HOST_PASSWORD=...

PATH_PRODUCTION=/Users/tanh.left/Projects/VPH-Prod

PATH_DATA_HOYA_KIZU=/Users/tanh.left/Projects/HOYA-Problem4/data

TOOLS=app_name,another_tool

TINYMCE_KEY=...

SHOW_CELERY_TASKS=False
SHOW_FILE_MANAGEMENT=False
SHOW_FEEDBACKS=False
HOME_PAGE=app_name 