PROJECT_NAME=NEW_PROJECT
NAME=New Project
SECRET_KEY=django-insecure-...
DEBUG=True
BROWSER_RELOAD=True
USE_CACHE=True
CACHENAME=redis
CACHE_REDIS_LOCATION=redis://127.0.0.1:6379

CELERY_BROKER_URL=redis://localhost:6379/0

DATABASE=sqlite

# Hoặc cấu hình PostgreSQL
DATABASE_NAME=<database_name>
DATABASE_USER=<database_user>
DATABASE_PASSWORD=<database_password>
DATABASE=postgres
DATABASE_HOST=<database_host; ví dụ: localhost hoặc db nếu sử dụng Docker>
DATABASE_PORT=<database_port; ví dụ: 5432>


ALLOWED_HOSTS=localhost,172.20.0.1
CSRF_TRUSTED_ORIGINS=http://172.20.0.1

EMAIL_HOST_USER=abc@whiteneurons.com
EMAIL_HOST_PASSWORD=...

TOOLS=app_name,another_tool

SHOW_CELERY_TASKS=False
SHOW_FILE_MANAGEMENT=False
SHOW_FEEDBACKS=False
HOME_PAGE=app_name 