/* styles.css — Tailwind v4 config */
@import "tailwindcss";

/* DEFINE SOURCE FILES (mỗi dòng 1 @source + ;) */
@source "./src/**/*.{html,py,js,jsx,ts,tsx}";
@source "./src/apps/**/*.{html,py,js,jsx,ts,tsx}";
@source "./src/templates/**/*.{html,py,js}";
@source "./templates/**/*.{html,py,js}";
@source "../**/templates/**/*.{html,py,js}";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* DaisyUI v5 — CHỈ 1 plugin block */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cyberpunk;
  prefix: ui-;
  logs: true;
}



