{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list unfold_list unfold_list_custom %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css">
        .grid_view #action_buttoms {
            position: absolute;
            right: 2px;
            bottom: 5px;
        }
    </style>
    <link rel="stylesheet" href='{% static "base/css/btn-styles.css" %}'>
{% endblock %}

{% block result_list %}
    {% include "unfold/helpers/change_list_actions.html" %}

    {% if grid_view == True %}
        {% result_list_grid cl %}
    {% else %}
        {% unfold_result_list cl %}
    {% endif %}

{% endblock %}

{% block filters %}
{% endblock %}
